
// Pages
@import "pages/home"

// Components
@import "components/accordion"
@import "components/buttons"
@import "components/menu"

// Vendors
@import "vendors/tailwind"

@font-face 
	font-family: 'Tenez'
	src: url('../fonts/Tenez-Regular.eot'),
	src: url('../fonts/Tenez-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Tenez-Regular.woff2') format('woff2'), url('../fonts/Tenez-Regular.woff') format('woff'), url('../fonts/Tenez-Regular.ttf') format('truetype'),
	font-weight: 400
	font-style: normal
	font-display: swap


@font-face 
	font-family: 'Fonseca'
	src: url('../fonts/Fonseca-Thin.otf'),
	font-weight: 200
	font-style: normal
	font-display: swap

@layer base

	html
		@apply scroll-smooth

	body
		@apply font-fonseca

	h1, h2, h3, h4, h5, h6
		@apply font-tenez

	h1
		font-size: clamp(40px, 4vw, 110px)
		@apply leading-normal my-0
		@screen lg
			@apply leading-none

	h2
		font-size: clamp(24px, 4vw, 40px)
		@apply leading-normal my-0 text-primary-500
		@screen lg
			@apply leading-none

	h3
		font-size: clamp(18px, 4vw, 24px)
		@apply leading-normal my-0 text-primary-500 uppercase
		@screen lg
			@apply leading-none

	h4
		font-size: clamp(16px, 4vw, 18px)
		@apply leading-normal my-0 text-primary-500 uppercase
		@screen lg
			@apply leading-none

	label, legend
		@apply text-xs block mb-1 text-primary-500

	input, select, textarea
		@apply border-b border-primary-300 text-lg text-black font-tenez block w-full resize-y

	input[type=radio]
		width: auto
		height: auto

	textarea
		min-height: 70px

	input:focus, select:focus, textarea:focus
		@apply outline-none border-primary-500
